<div class="hero" id="hero">

  <div class="background" id="background">
    <img src="../../images/hero-large2.png"/>
  </div>
  <div class="wave2" id="wave2">
    <img src="../../images/wave222.png"/>
  </div>
  <div class="color-transition" id="color-transition">
    <img src="../../images/color-transition2.png"/>
  </div>
   
</div>

<div class="text-overlay" id="text-overlay">
  <img src="../../images/Bula.svg" alt="Bula" id="big-bula"/>
</div>

<!-- <div class="greeting">
  <img src="../../images/greeting.svg" id="greeting">
</div> -->

<div class="body-copy">
  <p>
    Fiji is a collection of volcanic islands spanning 1,600 kilometers in the South Pacific Ocean. There are two main islands, Viti Levu and Vanua Levu, and nearly 900 smaller islands and inlets. If you’re looking for privacy, chances are you’re sure to find a secluded spot somewhere in the country.
  </p>
  <p>
    While Fiji Water may be expensive, a vacation here doesn’t need to break the bank. Yes, there are pricey resorts but there are also budget guesthouses. Inexpensive accommodation and food, combined with the fact most Pacific flights include a stopover here, makes the islands an affordable and easy place to visit. I found my trip to Fiji way more affordable than I thought. If you’re looking for paradise on a budget, Fiji is it! It’s got everything you could want without the prices of Tahiti or the Cook Islands!
  </p>
</div>

      